@font-face {
    font-family: "";
    src: url("") format("");
}

@font-face {
    font-family: "Metropolis";
    src: url("Metropolis-ExtraBold.eot");
    src: local("Metropolis Extra Bold"), local("Metropolis-ExtraBold"),
        url("../fonts/") format("embedded-opentype"),
        url("../fonts/Metropolis-ExtraBold.woff2") format("woff2"),
        url("../fonts/Metropolis-ExtraBold.woff") format("woff"),
        url("../fonts/Metropolis-ExtraBold.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Metropolis";
    src: url("Metropolis-SemiBold.eot");
    src: local("Metropolis Semi Bold"), local("Metropolis-SemiBold"),
        url("../fonts/") format("embedded-opentype"),
        url("../fonts/Metropolis-SemiBold.woff2") format("woff2"),
        url("../fonts/Metropolis-SemiBold.woff") format("woff"),
        url("../fonts/Metropolis-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Metropolis";
    src: url("Metropolis-Medium.eot");
    src: local("Metropolis Medium"), local("Metropolis-Medium"),
        url("../fonts/Metropolis-Medium.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Metropolis-Medium.woff2") format("woff2"),
        url("../fonts/Metropolis-Medium.woff") format("woff"),
        url("../fonts/Metropolis-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Metropolis";
    src: url("Metropolis-Bold.eot");
    src: local("Metropolis Bold"), local("Metropolis-Bold"),
        url("../fonts/") format("embedded-opentype"),
        url("../fonts/Metropolis-Bold.woff2") format("woff2"),
        url("../fonts/Metropolis-Bold.woff") format("woff"),
        url("../fonts/Metropolis-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Metropolis";
    src: url("Metropolis-Regular.eot");
    src: local("Metropolis Regular"), local("Metropolis-Regular"),
        url("../fonts/Metropolis-Regular.eot?#iefix")
            format("embedded-opentype"),
        url("../fonts/Metropolis-Regular.woff2") format("woff2"),
        url("../fonts/Metropolis-Regular.woff") format("woff"),
        url("../fonts/Metropolis-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
